@import url('./responsive.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif, 'Raleway', sans-serif, 'Roboto', sans-serif, 'Satisfy', cursive;
}
body{
    background-color: #FFEB00;
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 200px;
    background-color: #302D2D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

header > div{
    color: #e8e8e8;
}
header > div.title,
header > div.miscellaneous{
    width: 10%;
    height: 100%;
}
header > div.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
header > div.title > span{
    font-weight: 800;
}
header > div.announcement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}
header > div.announcement > div.roundDisplay{
    font-size: 40px;
    font-weight: 600;
}
header > div.announcement > div.scoreDisplay{
    font-size: 24px;
}
header > div.announcement > div.messageDisplay{
    font-size: 24px;
    font-weight: 600;
}
main > section.stage{
    width: 100%;
    height: calc(100vh - 600px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
main > section.stage > div.preGameInfo,
main > section.stage > div.postGameInfo{
    background-color: #302D2D;
    color: #e8e8e8;
    width: 65%;
    height: 90%;
    position: absolute;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
main > section.stage > div.preGameInfo > p,
main > section.stage > div.postGameInfo > p{
    text-align: center;
    font-size: 24px;
}
main > section.stage > div.preGameInfo > div > button,
main > section.stage > div.postGameInfo > button{
    width: 12rem;
    height: 4rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0.5rem
}
main > section.stage > div.preGameInfo > div > button.accept,
main > section.stage > div.postGameInfo > button{
    box-shadow:inset -1px -49px 0px 1px #d6c400;
    color: #302D2D;
    background:linear-gradient(to bottom, #FFEB00 5%, #FFEB00 100%);
}
main > section.stage > div.preGameInfo > div > button.decline{
    color: #e8e8e8;
    box-shadow:inset -1px -49px 0px 1px gray;
    background:linear-gradient(to bottom, rgb(148, 147, 147) 5%, gray 100%);

}
main > section.stage > div.preGameInfo > button:hover{
    transform: scale(0.9);
}
main > section.stage > div.game{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > section.stage > div.game > figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 300px;
    margin: 0 4rem;
}
main > section.stage > div.game > figure > img{
    width: 200px;
    max-height: 200px;
    object-fit: cover;
}
main > section.stage > div.game > figure > figcaption{
    color: #302D2D;
    font-weight: 600;
    width: 100%;
    height: 3rem;
    text-align: center;
}
main > section.options{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > section.options > h2{
    color: #302D2D;    
    margin: 0.8rem 0;
}
main > section.options > div{
    display: flex;
    justify-content: center;
}
main > section.options > div > figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 260px;
    background-color:#302D2D;
    margin: 0 2rem;
}
main > section.options > div > figure:hover{
    transform: scale(0.9);
}
main > section.options > div > figure > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
main > section.options > div > figure > figcaption{
    font-size: 24px;
    font-weight: 600;
    color: #e8e8e8;
    width: 100%;
    height: 3rem;
    text-align: center;
}
