*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif, 'Raleway', sans-serif, 'Roboto', sans-serif, 'Satisfy', cursive;
}
body{
    background-color: #FFEB00;
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
main > section.stage{
    width: 100%;
    height: calc(100vh - 520px);
    display: flex;
    justify-content: center;
    align-items: center;
}
main > section.stage > figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 260px;
    margin: 0 4rem;
}
main > section.stage > figure > figcaption{
    color: #302D2D;
    font-weight: 600;
}
main > section.options{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
}
main > section.options > figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 260px;
    background-color:#302D2D;
    margin: 0 2rem;
}
main > section.options > figure:hover{
    transform: scale(0.9);
}
main > section.options > figure > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
main > section.options > figure > figcaption{
    font-size: 24px;
    font-weight: 600;
    color: #e8e8e8;
    width: 100%;
    height: 3rem;
    text-align: center;
}